* {
    box-sizing: border-box;
}

body {
    background: url('images/prism.png');
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}

/* Nav Bar */
.navbar {
    padding: 0;
}
.navbar-brand {
    width: 300px;
    height: 90px;
    background: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: #fff !important;
    font-size: 30px;
    line-height: 90px;
    text-decoration: none; 
}
.nav-item{
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    line-height: 18px; 
}

/* Main Body */
main {
    background: #fff;
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 15px;
    margin-bottom: 100px;
}
h1 {
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
    padding-bottom: 20px;
    padding-top: 20px;
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
}

/* Sticky Footer */
html {
    position: relative;
    min-height: 100%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #666;
    color: #ccc;
    text-align: center;
    border-top: 4px solid #4aaaa5;
}

/* Portfolio */
.text-center {
    position: relative;
}
.rounded {
    margin: 10px;
    width: 100%;
}
.text-center h3 {
    color: #fff;
    background: #4aaaa5;
    position: absolute;
    padding: 15px;
    bottom: 20px;
    right: -10px;
    width: 100%;
    margin: 0;
}

/* Contact */
form {
    margin: 10px;
    width: 100%;
}
input {
    margin: 10px;
}
#exampleFormControlTextarea1 {
    padding-bottom: 200px;
}
.btn {
    background: #4aaaa5;
    color: #fff;
}
.options {
    background: #4aaaa5;
    color: #fff;
}